<div class="safety_settings__section_new monitoring-settings__section {{widget_code}}">
	<h1 style="margin:10px 0 0;font-weight: bold;">Настройки </h1>
	<p>{{ title }}</p>
	<p>{{ name }}</p>
	<p>{{ domain }}</p>
</div>

{#https://symfony.ru/doc/current/templates.html#}