<div class="widget_settings_block__descr widget-settings-block__desc-expander_hidden">
    <p style="margin:20px 0 0;"><b style="font-weight:bold;">Описание</b></p>
    <p>Roistat собирает данные из AmoCRM рекламных площадок и вашего сайта. Из этих данных он формирует отчеты по 50+ ключевым бизнес-показателям: ROI, LTV, CAC, CPC, CPL, CPO, прибыль, конверсии,  и др.</p><p><br>Отслеживание звонков происходит через динамический колл трекинг и статический коллтрекинг.</p><p><br>С интеграцией Roistat + AmoCRM вы узнаете, какие рекламные каналы вам приносят прибыльных клиентов, а какие каналы впустую тратят ваш бюджет, какая реальная стоимость клиента и откуда приходят клиенты с большим средним чеком.</p><p><br>Благодаря интеграции с AmoCRM, Roistat автоматически связывает клики с рекламных источников со сделками и лидами из AmoCRM. Таким образом вы увидите, с каких ключевых слов пришли клиенты, и сколько денег и сделок в итоге принесли конкретные рекламные кампании, вплоть до ключевых слов.</p><p><br>Вы сможете построить отчеты по городам, менеджерам, причинам отказа, посадочным страницам и любым полям из AmoCRM. Также происходит автоматическое создание сделок и лидов при заявках и звонках с вашего сайта.</p>
</div>
<div class="widget-settings-block__desc-expander"><span class="js-widget-settings-desc-expander">показать полностью</span></div>
{#{% extends 'advanced_settings.twig' %}#}
{#{% block content %}#}
{#    <div class = "oferta">#}
{#        <label for = "oferta_check" class = "oferta_title">Бла Бла бЛа</label>#}
{#        <br><button class="buttontest">buttontest</button>#}
{#        <div class = "oferta_error hidden" >Необходимо дать согласие</div>#}
{#    </div>#}
{#{% endblock %}#}